.dot {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.dot span {
  font-size: 2rem;
}

.card{
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  text-align: center;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card-title{
  font-weight: 700;
  font-size: 1.5em;
}

.file {
  text-align-last: center;
}